<button mat-raised-button color="primary" (click)="openConfigGenerator()">Open Dialog</button>
<!-- <p>We're in the generator home component</p> -->
<mat-card>
    <mat-grid-list [cols]="noOfCols" rowHeight="2:1">
        <mat-grid-tile style="background-color: green">1</mat-grid-tile>
        <mat-grid-tile style="background-color: red">2</mat-grid-tile>
        <mat-grid-tile style="background-color: blue">3</mat-grid-tile>
        <mat-grid-tile style="background-color: violet">4</mat-grid-tile>
        <mat-grid-tile style="background-color: black">5</mat-grid-tile>
      </mat-grid-list>
</mat-card>