<button color="primary" mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <!-- <form [formGroup]="firstFormGroup"> -->
        <ng-template matStepLabel>Create configuration</ng-template>
        <mat-form-field>
            <mat-label>Configuration name</mat-label>
          <input type="text" matInput placeholder="Configuration name" required [(ngModel)]="totalArray.name">
        </mat-form-field>
        <div>
          <button color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Days</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
            <section *ngFor="let day of totalArray.Days; let i = index;">
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Days[i].name">
                  </mat-form-field>
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Short Name</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Days[i].shortName">
                  </mat-form-field>
      <button *ngIf="i == totalArray.Days.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Days',i)">
        <mat-icon>add</mat-icon>
      </button>
      <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Days',i)">
          <mat-icon>remove</mat-icon>
        </button>
            </section>
      </mat-card>
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <!-- <form> -->
        <ng-template matStepLabel>Periods</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
            <section *ngFor="let period of totalArray.Periods; let i = index;">
        <mat-form-field style="margin-right: 15px">
          <mat-label>Period Name</mat-label>
          <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Periods[i].name">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      <mat-form-field style="margin-right: 15px">
        <mat-label>Short Name</mat-label>
        <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Periods[i].shortName">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field style="margin-right: 15px">
        <mat-label>Start Time</mat-label>
        <input type="time" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Periods[i].startTime">
        <!-- <w-mat-timepicker color="primary" [(userTime)]="totalArray.periods[i].startTime"></w-mat-timepicker> -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field style="margin-right: 15px">
        <mat-label>End Time</mat-label>
        <input type="time"  matInput placeholder="Placeholder" [(ngModel)]="totalArray.Periods[i].endTime">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <button *ngIf="i == totalArray.Periods.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Periods',i)">
        <mat-icon>add</mat-icon>
      </button>
      <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Periods',i)">
          <mat-icon>remove</mat-icon>
        </button>
            </section>
      </mat-card>
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <!-- <form> -->
        <ng-template matStepLabel>Subjects</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
            <section *ngFor="let subject of totalArray.Subjects; let i = index;">
                <mat-form-field style="margin-right: 15px">
                    <mat-label>Subject Code</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Subjects[i].code">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Subject Name</mat-label>
          <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Subjects[i].name">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Subject Short Name</mat-label>
          <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Subjects[i].shortName">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-checkbox style="margin-right: 15px" [(ngModel)]="totalArray.Subjects[i].moreThanOncePerDay">More than once per day?</mat-checkbox>
        <mat-checkbox style="margin-right: 15px" [(ngModel)]="totalArray.Subjects[i].dayOff2TImesAWeek">Day off 2 times a wekk?</mat-checkbox>
      <button *ngIf="i == totalArray.Subjects.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Subjects',i)">
        <mat-icon>add</mat-icon>
      </button>
      <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Subjects',i)">
          <mat-icon>remove</mat-icon>
        </button>
            </section>
      </mat-card>
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <!-- <form [formGroup]="thirdFormGroup"> -->
        <ng-template matStepLabel>Rooms</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
            <section *ngFor="let room of totalArray.Rooms; let i = index;">
                <mat-form-field style="margin-right: 15px">
                    <mat-label>Room Name</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Rooms[i].name">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Room Short Name</mat-label>
          <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Rooms[i].shortName">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      <mat-form-field style="margin-right: 15px">
        <mat-label>Capacity</mat-label>
        <input type="number" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Rooms[i].capacity">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field style="margin-right: 15px">
        <mat-label>Building</mat-label>
        <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Rooms[i].building">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <button  *ngIf="i == totalArray.Rooms.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Rooms',i)">
        <mat-icon>add</mat-icon>
      </button>
      <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Rooms',i)">
          <mat-icon>remove</mat-icon>
        </button>
            </section>
      </mat-card>
        <!-- <mat-form-field>
          <input matInput placeholder="Address" required>
        </mat-form-field> -->
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <!-- <form [formGroup]="thirdFormGroup"> -->
        <ng-template matStepLabel>Teachers</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
            <section *ngFor="let teacher of totalArray.Teachers; let i = index;">
                <mat-form-field style="margin-right: 15px">
                    <mat-label>Teacher Name</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Teachers[i].name">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Teacher Short Name</mat-label>
                    <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Teachers[i].shortName">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Max activities in a row</mat-label>
                    <input type="number" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Teachers[i].maxActivitiesInARow">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Max gaps per cycle</mat-label>
                    <input type="number" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Teachers[i].maxGapsPerCycle">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>                  
                  <mat-form-field style="margin-right: 15px">
                    <mat-label>Max gaps once per day</mat-label>
                    <input type="number" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Teachers[i].maxGapsOncePerDay">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>T</mat-hint> -->
                  </mat-form-field>
                  <mat-checkbox style="margin-right: 15px" [(ngModel)]="totalArray.Teachers[i].dayOff2TimesAWeek">Day off 2 times a week?</mat-checkbox>
        <!-- <section style="margin-right: 15px">
          <mat-checkbox [(ngModel)]="totalArray.teachers[i].dayOff2TimesAWeek">Day off 2 times a week?</mat-checkbox>
        </section> -->
      <button  *ngIf="i == totalArray.Teachers.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Teachers',i)">
        <mat-icon>add</mat-icon>
      </button>
      <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Teachers',i)">
          <mat-icon>remove</mat-icon>
        </button>
            </section>
      </mat-card>
        <!-- <mat-form-field>
          <input matInput placeholder="Address" required>
        </mat-form-field> -->
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
        <!-- <form [formGroup]="thirdFormGroup"> -->
          <ng-template matStepLabel>Classes</ng-template>
          <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
              <section *ngFor="let teacher of totalArray.Classes; let i = index;">
                  <mat-form-field style="margin-right: 15px">
                      <mat-label>Class Name</mat-label>
                      <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Classes[i].name">
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>T</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field style="margin-right: 15px">
                      <mat-label>Class Short Name</mat-label>
                      <input type="text" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Classes[i].shortName">
                      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                      <!-- <mat-hint>T</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field style="margin-right: 15px">
                        <mat-label>Max allowed difference</mat-label>
                        <input type="number" matInput placeholder="Placeholder" [(ngModel)]="totalArray.Classes[i].maxAllowedDifference">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>T</mat-hint> -->
                      </mat-form-field>
                    <mat-checkbox style="margin-right: 15px" [(ngModel)]="totalArray.Classes[i].startOn1stPeriod">Start on 1st Period?</mat-checkbox>
                    <mat-checkbox style="margin-right: 15px" [(ngModel)]="totalArray.Classes[i].noGapsAllowed">No period gaps?</mat-checkbox>
        <button *ngIf="i == totalArray.Classes.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Classes',i)">
          <mat-icon>add</mat-icon>
        </button>
        <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Classes',i)">
            <mat-icon>remove</mat-icon>
          </button>
              </section>
        </mat-card>
          <!-- <mat-form-field>
            <input matInput placeholder="Address" required>
          </mat-form-field> -->
          <div>
            <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
            <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
          </div>
        <!-- </form> -->
      </mat-step>
    <mat-step>
      <!-- <form [formGroup]="fifthFormGroup"> -->
        <ng-template matStepLabel>Activities</ng-template>
        <mat-card style="margin-bottom: 20px" class="mat-elevation-z0">
          <section *ngFor="let subject of totalArray.Activities; let i = index;">
        <mat-form-field style="margin-right: 15px">
          <mat-label>Teacher</mat-label>
          <!-- <input matInput placeholder="Placeholder" [(ngModel)]="totalArray.teachers[i].maxGapsOncePerDay"> -->
          <mat-select [(ngModel)]="totalArray.Activities[i].teacher" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let teacher of totalArray.teachers; let i = index;" [value]="teacher">
              {{teacher.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Subject</mat-label>
          <!-- <input matInput placeholder="Placeholder" [(ngModel)]="totalArray.teachers[i].maxGapsOncePerDay"> -->
          <mat-select [(ngModel)]="totalArray.Activities[i].subject" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let subject of totalArray.Subjects; let i = index;" [value]="subject">
              {{subject.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Class</mat-label>
          <!-- <input matInput placeholder="Placeholder" [(ngModel)]="totalArray.teachers[i].maxGapsOncePerDay"> -->
          <mat-select [(ngModel)]="totalArray.Activities[i].class" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let class of totalArray.Classes; let i = index;" [value]="class">
              {{class.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Activities per cycle</mat-label>
          <input type="number" matInput placeholder="Activities per cycle" [(ngModel)]="totalArray.Activities[i].activitiesPerCyle">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <!-- <mat-form-field style="margin-right: 15px"> -->
            <!-- <mat-label>Activities per cycle</mat-label> -->
            <!-- <input matInput placeholder="Activities per cycle" [(ngModel)]="totalArray.activities[i].activitiesPerCyle"> -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>T</mat-hint> -->
          <!-- </mat-form-field> -->
        <mat-form-field style="margin-right: 15px">
          <mat-label>Desired Room</mat-label>
          <!-- <input matInput placeholder="Activities per cycle" [(ngModel)]="totalArray.teachers[i].maxGapsOncePerDay"> -->
          <mat-select [(ngModel)]="totalArray.Activities[i].desiredRoom" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let room of totalArray.Rooms; let i = index;" [value]="room">
              {{room.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <mat-form-field style="margin-right: 15px">
          <mat-label>Alternate Room</mat-label>
          <!-- <input matInput placeholder="Activities per cycle" [(ngModel)]="totalArray.teachers[i].maxGapsOncePerDay"> -->
          <mat-select [(ngModel)]="totalArray.Activities[i].alternateRoom" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let room of totalArray.Rooms; let i = index;" [value]="room">
              {{room.name}}
            </mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>T</mat-hint> -->
        </mat-form-field>
        <button *ngIf="i == totalArray.Activities.length -1" style="margin-right: 15px" mat-icon-button color="primary" (click)="addButton('Activities',i)">
          <mat-icon>add</mat-icon>
        </button>
        <button style="margin-right: 15px" mat-icon-button color="primary" (click)="removeButton('Activities',i)">
            <mat-icon>remove</mat-icon>
          </button>
          </section>
        </mat-card>
        <div>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button style="margin-right: 15px" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button style="margin-right: 15px" color="primary" mat-raised-button matStepperPrevious>Back</button>
        <button style="margin-right: 15px" color="warn" mat-raised-button (click)="stepper.reset()">Reset</button>
        <button style="margin-right: 15px" color="primary" mat-raised-button (click)="saveData()">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>